h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}
.game {
  display: flex;
  justify-content: center;
}
.gameBoard {
  margin-top: 200px;
  display: grid;
  grid-template-columns: repeat(3, 0.0001fr);
  grid-template-rows: 3, 1fr;
}
.box {
  height: 100px;
  width: 100px;
  border: solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
